:root {
  --pane-transition-speed: 0.6s;
  --toast-transition-speed: 0.7s;
}

.dnd_logo_center {
  margin: 17px calc(50% - 28px) 6px
}

.dnd_description {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.transition_settings_show {
  left: 0%;
  transition-property: left;
  transition-duration: var(--pane-transition-speed);
}

.transition_settings_hide {
  left: 100%;
  transition-property: left;
  transition-duration: var(--pane-transition-speed);
}